footer {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding: 1.5em 7px 1em 7px;
  background-color: #00A79D;
  background: url(../images/footer-block-left.png) bottom left no-repeat,
              url(../images/footer-block-right.png) bottom right no-repeat,
              #00A79D;
}

footer section {
  margin: 0 12px;
  text-align: left;
  width: 212px;
  display: inline-block;
}

footer h2 {
  font-size: 18px;
  font-weight: 700;
}

footer a {
  color: #fff;
}

footer > p {
  clear: both;
  text-align: left;
  display: block;
  opacity: 0.6;
  margin: 3em auto 0 auto;
  line-height: 18px;
  max-width: 692px;
}

@media only screen and (max-device-width: 750px), only screen and (max-width: 750px) {
  footer section {
    width:auto;
    margin:0;
  }
}