html, body {
  margin: 0;
  min-width: 280px;
}

#intro, #use-cases, #instructions .content {
  max-width: 692px;
  margin: 0 auto;
}

figure {
  margin: 1em 0;
}

figcaption {
  font-size: 14px;
  color: #aaa;
  line-height: 20px;
  text-align: left;
}

figure img {
  background-color: #fff;
  width: 100%;
}

@media only screen and (max-device-width: 620px), only screen and (max-width: 620px) {
  code {
    white-space: normal;
  }
}